body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid #0c0f0c;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #a9e0ab;
}

.red {
  background-color: #da8983;
}

.yellow {
  background-color: #e5dfa7;
}
.blue {
  background-color: #8cbce3;
}

.flash {
  opacity: 0.5;
  background-color: white;
}

.userFlash {
  background-color: hotpink;
}
