body {
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid #0c0f0c;
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #0ce213;
}

.red {
  background-color: #df2214;
}

.yellow {
  background-color: #fae62f;
}
.blue {
  background-color: #0d71c3;
}

.flash {
  opacity: 0.5;
  background-color: white;
}

.userFlash {
  background-color: rgb(233, 101, 238);
}
